<div th:fragment="headImports">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</div>

<div th:fragment="menu">
    <ul>
        <li th:each="category : ${T(cz.inventi.stromObchod.entity.ProductCategoryEnum).values()}"><a
                th:href="@{'/product/category/' + ${category}}"
                th:text="${category}"></a>
        </li>
        <li><a href="/rest">REST</a></li>
        <li><a href="/cnb">cnb</a></li>
        <li style="float:right"><a href="#login">login</a></li>
        <li style="float:right"><a href="/product/create">vytvořit</a></li>
        <li style="float:right"><a href="/basket">košík</a></li>
    </ul>
</div>