<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="/fragment/thymeFragment::headImports"/>
    <title>Title</title>
</head>
<body>
<div th:replace="/fragment/thymeFragment::menu"/>
<h1>basket</h1>

<table border="1 ">
    <tr th:each="product : ${basket.products}">
        <td th:text="${product.id}">id</td>
        <td th:text="${product.name}">producty</td>
        <td th:text="${product.description}">popis</td>
        <td><a th:href="@{'/product/' + ${product.id}}">detail</a></td>
        <td><a th:href="@{'/basket/remove/' + ${product.id}}">odebrat</a></td>
    </tr>
</table>


</body>
</html>