<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="/fragment/thymeFragment::headImports"/>
    <title>cnb kurzy</title>
</head>
<body>
<div th:replace="/fragment/thymeFragment::menu"/>
<p> cnb kurzy - txt</p>
<p>
<div th:text="${kurz}"></div>

<p>
</p>
</body>
</html>