<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="/fragment/thymeFragment::headImports"/>
    <title>Title</title>
</head>
<body>
<div th:replace="/fragment/thymeFragment::menu"/>
<h1> product detail</h1>

<table border="1">
    <tr>
        <td>id:</td>
        <td th:text="${product.id}"></td>
    </tr>
    <tr>
        <td>název:</td>
        <td th:text="${product.name}"></td>
    </tr>
    <tr>
        <td>popis:</td>
        <td th:text="${product.description}"></td>
    </tr>

</table>

<div>
    <a th:href="@{'/basket/add/' + ${product.id}}">vložit do košíku</a>
</div>


</body>
</html>

