<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="/fragment/thymeFragment::headImports"/>
    <title>dscds</title>
</head>
<body>
<div th:replace="/fragment/thymeFragment::menu"/>

<p> creeate product</p>
<H1> vytvoření produktu</H1>

<form action="#" th:action="@{/product/create}" th:object="${createProductForm}" method="post">
    <p>name: <input type="text" th:field="*{name}"/></p>
    <p>description: <input type="text" th:field="*{description}"/></p>
    <!-- th:with="priorities=${T(cz.vse.entity.PriorityDefectEnum).values()}">-->
    <select id="productCategory" name="productCategory">
        <option th:each="productCategory : ${T(cz.inventi.stromObchod.entity.ProductCategoryEnum).values()}"
                th:value="${productCategory}"
                th:text="${productCategory}">

        </option>
    </select>
    <!--<option value="0" th:text="select category" ></option>-->
    <!--<option th:each="operator : ${operators}" th:value="${operator.id}" th:text="${operator.operatorName}"></option>-->

    <p>price: <input type="text" th:field="*{price}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

</body>
</html>