<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="/fragment/thymeFragment::headImports"/>
    <title>Title</title>
</head>
<body>
<div th:replace="/fragment/thymeFragment::menu"/>
<h1>producty</h1>
<td th:if="${#lists.isEmpty(products)}">Nic nemáme ...</td>
<table border="1 ">
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">id</td>
        <td th:text="${product.name}">producty</td>
        <td th:text="${product.description}">producty</td>
        <td><a th:href="@{'/product/' + ${product.id}}">detail</a></td>
    </tr>
</table>
</body>
</html>