<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="/fragment/thymeFragment::headImports"/>
    <title>Title</title>
</head>
<body>
<div th:replace="/fragment/thymeFragment::menu"/>
<p> rest test</p>
<p>
<div th:text="${book}"></div>

<p>
</p>
</body>
</html>