<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Title</title>

</head>
<body>
<p>shop</p>
<h1> menu</h1>


<ul>
    <li th:each="category : ${T(cz.inventi.stromObchod.entity.ProductCategoryEnum).values()}"><a href="xxx" th:text="${category}"></a>
    </li>
    <li style="float:right"><a href="#login">login</a></li>
</ul>
<br>


</body>
</html>