<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Titdsale</title>
</head>
<body>
ssss

templates

<p th:text="${name}">xccp>
</body>
</html>